{% extends "employee/base.html" %}

{% block title %}Personal Information {% endblock %}

{% block heading %}
	<h2>Personal Information</h2>
{% endblock %}

{% block content %}
    <form method="post">{% csrf_token %}
        
        <div class="row">
            <div class="col-md-6 form-group">
                <label>Date of Birth</label>
                {{ form.dob }}
            </div>
            <div class="col-md-6 form-group">
                <label>Gender</label>
                {{ form.gender }}
            </div>
            <div class="col-md-6 form-group">
                <label>Contact</label>
                {{ form.contact }}
            </div>
            <div class="col-md-6 form-group">
                <label>Postal Code</label>
                {{ form.post_code }}
            </div>
            <div class="col-md-6">
                <label>Address</label>
                {{ form.address}}
            </div>
            
        </div>
        <input type="submit" value="Save">
    </form>
	
	<a href="{% url 'employee:logout' %}">Logout</a>
{% endblock %}